<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LE Com Performance Metrics</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="starter-template">
    <h1>LE Com Performance Metrics</h1>
</div>
<div id="chart_div"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.load("visualization", "1", {packages: ["treemap"]});
    console.log("starting")
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        console.log(/*[[${constData}]]*/);
        var google_chart_json = /*[[${constData}]]*/;
        var datas = [];
        $.each(google_chart_json, function (key, val) {
            var domain = key;
            var data = new google.visualization.DataTable();
            data.addColumn('date', domain + 'Date');
            data.addColumn('number', domain);


            $.each(val, function (_, scan) {
                var timestamp = scan[0];
                var price = scan[1];

                data.addRows([
                    [new Date(timestamp), price]
                ]);
            });
            datas.push(data);
        });
        var joinedData = datas[0];
        $.each(datas, function (index, datatable) {
            console.log('joining index ' + index);
            if (index != 0) {
                joinedData = google.visualization.data.join(joinedData, datatable, 'full', [[0, 0]], [1], [1]);
            }
        });


        var chart = new google.visualization.LineChart(document.querySelector('#chart_div'));
        chart.draw(joinedData, {
            height: 300,
            width: 600,
            interpolateNulls: true,
            explorer: {
                maxZoomOut: 2,
                keepInBounds: true
            },
        });
    }

</script>
</body>
</html>
