<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LE Com Performance Metrics</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="starter-template">
    <h1>LE Com Performance Metrics</h1>
</div>
<table class="columns">
    <tr>
        <td>
            <div id="PDP_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PDP_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PDP_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="PLP_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PLP_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PLP_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="Other_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="Other_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="Other_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
</table>


<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.load("visualization", "1", {packages: ["treemap"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var allData = /*[[${constData}]]*/;
        Object.keys(allData).forEach(function (allKey) {
            var typeData = allData[allKey];
            Object.keys(typeData).forEach(function (typeKey) {
                var datas = [];
                console.log('Key : ' + typeKey + ', Value : ' + typeData[typeKey]);
                var chartData = typeData[typeKey];
                Object.keys(chartData).forEach(function (key) {
                    console.log('Key : ' + key + ', Value : ' + chartData[key]);
                    var domain = key;
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', domain + 'Date');
                    data.addColumn('number', domain);
                    var value = chartData[key];
                    value.forEach(function (item, index) {
                        console.log(item, index);
                        var timestamp = item[0];
                        var price = parseInt(item[1]);
                        var id = item[2];
                        data.addRows([
                            [new Date(timestamp), price]
                        ]);
                        data.setProperty(index, 1, "id", id)
                    });
                    console.log(data);
                    datas.push(data);
                });
                var joinedData = datas[0];
                datas.forEach(function (value, index) {
                    console.log('joining index ' + index);
                    joinedData = google.visualization.data.join(joinedData, value, 'full', [ [ 0, 0 ] ], [1], [1]);
                });
                console.log(allKey+ '_' + typeKey + '_chart')
                var chart = new google.visualization.LineChart(document.getElementById(allKey+ '_' + typeKey + '_chart'));
                chart.setAction({
                    id: allKey+ '_' + typeKey + '_chart',
                    text: 'See Lighthouse Detailed Report',
                    action: function () {
                        console.log(chart.getSelection())
                        var selectedItem = chart.getSelection()[0];
                        console.log(JSON.stringify(selectedItem))
                        if (selectedItem) {
                            var value = joinedData.getProperty(selectedItem.row, selectedItem.column, "id");
                            console.log(value)
                            window.open('/report/' + value, '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes')
                        }
                    }
                });
                chart.draw(joinedData, {
                    tooltip: {trigger: 'selection'},
                    title: allKey+ ' ' + typeKey + ' chart',
                    interpolateNulls: true,
                    explorer: {
                        maxZoomOut: 2,
                        keepInBounds: true
                    },
                });
            });
        })
    }

</script>
</body>
</html>
