<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LE Com Performance Metrics</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="starter-template">
    <h1 align="center">LE Com Performance Metrics</h1>
</div>
<form method="get">
    <div>
        <span><label>Please choose number of days you plan to look back for charting: </label></span>
        <span>
            <input type="number" min="0" max="7" step="1" th:value="${selectedDays}" id="selectedDays" name="selectedDays"/> days
            <input type="number" min="0" max="24" step="1" th:value="${selectedHours}" id="selectedHours" name="selectedHours"/> hours.
        </span>
        <span th:each="domain : ${allDomains}">
            <input type="checkbox" name="domains" th:value="${domain.value}" th:checked="${domain.checked}" />
            <label th:text="${domain.value}"></label>
        </span>
        <span>
            <input type="submit" value="Refresh"/>
        </span>
    </div>
</form>
<table class="columns">
    <tr>
        <td>
            <div id="PDP_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PDP_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PDP_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="PLP_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PLP_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="PLP_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="Search_FCP_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="Search_Interactive_chart" style="width: 600px; height: 400px"></div>
        </td>
        <td>
            <div id="Search_SI_chart" style="width: 600px; height: 400px"></div>
        </td>
    </tr>
</table>


<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.load("visualization", "1", {packages: ["treemap"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var allData = /*[[${chartData}]]*/;
        Object.keys(allData).forEach(function (allKey) {
            var typeData = allData[allKey];
            Object.keys(typeData).forEach(function (typeKey) {
                var datas = [];
                var chartData = typeData[typeKey];
                Object.keys(chartData).forEach(function (key) {
                    var domain = key;
                    var data = new google.visualization.DataTable();
                    data.addColumn('date', 'RunTime');
                    data.addColumn('number', domain);
                    var value = chartData[key];
                    value.forEach(function (item, index) {
                        var timestamp = item[0];
                        var price = parseInt(item[1]);
                        var id = item[2];
                        data.addRows([
                            [new Date(timestamp), price]
                        ]);
                        data.setProperty(index, 1, "id", id)
                    });
                    datas.push(data);
                });
                var joinedData;
                var prevValue;

                datas.forEach(function (value, index) {
                    var array = new Array(index);
                    for (var i = 0; i < index; i++) {
                        array[i] = i + 1
                    }
                    if (index == 0) {
                        prevValue = value;
                    } else {
                        joinedData = google.visualization.data.join(prevValue, value, 'full', [ [ 0, 0 ] ], array, [1]);
                        prevValue = joinedData;
                    }
                });
                var chart = new google.visualization.LineChart(document.getElementById(allKey + '_' + typeKey + '_chart'));
                chart.setAction({
                    id: allKey + '_' + typeKey + '_chart',
                    text: 'See Lighthouse Detailed Report',
                    action: function () {
                        var selectedItem = chart.getSelection()[0];
                        if (selectedItem) {
                            var value = joinedData.getProperty(selectedItem.row, selectedItem.column, "id");
                            window.open('/report/' + value, '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes')
                        }
                    }
                });
                chart.draw(joinedData, {
                    tooltip: {trigger: 'selection'},
                    title: allKey + ' ' + typeKey + ' chart',
                    curveType: 'function',
                    interpolateNulls: true,
                    explorer: {
                        maxZoomOut: 2,
                        keepInBounds: true
                    },
                });
            });
        })
    }

</script>
</body>
</html>
